
.monday li { color: rgb(255, 208, 0); }
.tuesday li { color: brown; }
.wednesday li { color: burlywood; }
.thursday li { color: pink; }
.friday li { color: aquamarine; }


.schedule-container li:nth-child(n):hover {
    font-weight: bold;
  }  

.schedule-container li:focus { background-color: lightgray; }

.schedule-container li:first-child { font-style: italic; }
.schedule-container li:last-child { text-decoration: underline; }

.schedule-container li:nth-child(even) { text-transform: uppercase; }
.schedule-container li:nth-child(odd) { text-transform: lowercase; }

.monday :hover {
  color: red;
}

.tuesday :hover {
  color: blue;
}

.wednesday :hover {
  color: green;
}

.thursday :hover {
  color: orange;
}

.friday :hover {
  color: purple;
}
